<div class="d-flex justify-content-between bg-light text-dark bg-light text-dark text-muted">
  <div class="ml-2 text-muted"><small><a class="link-unstyled" href="/">Ad Free News</a></small></div>
  <div class="mr-2 text-muted">
    <small>
      a <a class="ml-1 link-unstyled" href="https://www.nodeknockout.com">NODE KNOCKOUT 2017</a> submission by
      <a class="ml-1 link-unstyled" href="https://github.com/nikunjchapadia">@nikunjchapadia</a>
      <a class="ml-1 link-unstyled" href="https://github.com/patelanuj28">@patelanuj28</a>
      <a class="ml-1 link-unstyled" href="https://github.com/saadmir">@saadmir</a>
    </small>
  </div>
</div>

<router-outlet></router-outlet>